    header {
        background-image: url(https://i.gifer.com/Ozs.gif);
        background-repeat: no-repeat;
        background-size: cover;
        color:aliceblue;
        padding: 4px;
        position: sticky;
        top: 0%;
        
    }

    header h1{
        font-family: monospace;
        color:rgb(3, 179, 167);
        margin-left: 27px;
    }

    nav {
        position: sticky;
        top: 15%;
    }
    nav ul li {
        display: inline-block;
        margin-right: 20px;
      }

    nav ul li a{
        color: antiquewhite;
        size: 20;
      }

    body {
        position: relative;
        background-image: url(https://i.pinimg.com/originals/40/49/8b/40498b985d9706170045b3baf332ece8.jpg);
        background-repeat: no-repeat;
        background-size: cover;        
    }

    footer {
        padding: 10px;
        background-image: url(https://i.gifer.com/Ozs.gif);
        background-repeat: no-repeat;
        background-size: cover;
        color:rgb(3, 179, 167);
        text-align: center;
        position: sticky;
        top: 100%;
    }


    main {
        position: absolute;
        top: 25%;
        left: 30%;
        max-width: 700px;
        min-height: 200px;
        padding: 20px;
        background-color:rgb(214, 214, 214);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    img{
        max-width: 100%;
        max-height: 100%;
    }
    


    .block{
            float: right;
            width: 600px;
            border: 1px solid rgb(18, 18, 19);
            padding: 10px;
            box-sizing: border-box;
    }

    .block h3{
        text-align: center;
    }

    .block p{
        padding: 5px
    }
    
    .aboutme{
        margin-top: 100px;
        
    }

    img {
        flex: 1;
        align-items: center;
        width: 300px;
        
        height: 100px;
    }

    .aboutme h2{
        color:aliceblue;
    }
    
    .aboutme p{
        font-style: italic;
        color:aliceblue;
        text-align: justify;
        padding: 20px;
        flex: 1;
        margin: 40px auto;
        width: 600px;
        border: 1px solid rgb(18, 18, 19);
        background-color: rgb(36, 35, 35);
    }

    .education {
            width: 700px;
            padding:20px;
            flex: 1;
            margin: 40px auto;
            margin-bottom: 20px;
            box-sizing: border-box;
            border: 1px solid rgb(18, 18, 19);
            background-color: rgb(36, 35, 35);  
    }

    .education h2{
        color:aliceblue;
        margin-top: 0px;
        text-align: center;
    }

    .education ul{
        margin-top: 5px;
    }

    .education p{
        font-size: 20;
        color: aliceblue;
        font-family: monospace;
    }

    .education ul li{
        color:aliceblue;
        font-family: monospace;
    } 


    .row {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

    .row img{
        margin-top: 10px;
        width: 400px;
        height: 300px;
        margin-bottom: 30px;
    }



    .skills {
        width: 700px;
        padding:20px;
        flex: 1;
        margin: 40px auto;
        margin-bottom: 20px;
        box-sizing: border-box;
        border: 1px solid rgb(18, 18, 19);
        background-color: rgb(36, 35, 35); 
    }


    .skills h2{
        color:aliceblue;
        text-align: center;
    }

    .skills p{
        font-family: cursive;
        color:aliceblue;
        text-align: justify;
    }

    .resume {
        min-height: 100px;
        width: 500px;
        padding: 20px;
        flex: 1;
        margin: 40px auto;
        margin-bottom: 20px;
        box-sizing: border-box;
        border: 1px solid rgb(18, 18, 19);
        background-color: rgb(36, 35, 35);
    }

    .resume img{
        width: 200px;
        margin-left: 130px;
        border: 1px solid rgb(18, 18, 19);
        background-color: rgb(36, 35, 35);
        
    }

    .resume h2{
        flex: 1;
        margin: 40px auto;
        font-family: cursive;
        color: aliceblue;

    }
    
    .resume p{
        color:aliceblue;
    }

    .resume ul li{
        font-family: monospace  ;
        color:aliceblue;
    }

    .resumedownload{
        flex: 1;
        margin: 40px auto;
    }

    .resumedownload h1{
        color: rgb(200, 216, 230);
        
    }

    .resumedownload h1 a{
        color: violet;
    }


    .contactme{
        flex: 1;
        max-width: 300px;
        margin: 2px auto;
        height: 120px;
        padding: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

    }


    .contactme h1{
        font-size: 25;
        font-family: monospace;
        text-align: center;
        color:aliceblue
    }

    .contactme ul li img{
        margin-top: 5px;
        margin: 5px auto;
        width: 30px;
        height: 30px;

    }

    .contactme ul li{
        margin-left: 20px;
        font-size: 12;
        color: aliceblue;
        display: inline;
        padding: 10px;
    }
    .container {
        flex: 1;
        max-width: 370px;
        margin: 40px auto;
        min-height: 280px;
        padding: 20px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXSN3cNmnNdef7ln5FgnJbeTRn_MmLgC_xhheP4bmEUg&s);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

    }
    
    .container h1{
        font-size: 20;
        color: aliceblue;
        text-align: center;
    }

    .container h4{
        font-size: 20;
        color: aliceblue;
        text-align: center;
    }

    .container form input{
        margin: 2px;
    }

    .container textarea{
        width: 100%;
        height: 59px;
        padding: 15px;
        border-radius: 5px;
        outline: none;

    }

    ul li{
        text-align: left;
    }

    h1{
        margin-left: 5px;
    }

    h2{
        text-align: center;
    }
    
    p{
        padding: 20px;
        text-align: center;
    }

    @media screen and (max-width: 600px)
    {
        h2{
            font-size: 36px;
            line-height: 50px;
        }
        main {
            position: absolute;
            top: 25%;
            left: 30%;
            max-width: 50px;
            line-height: 10px;
            padding: 5x;
            background-color:rgb(214, 214, 214);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 1px;
        }
    }